.cover {
  background-image: url(../../images/cover__background.png);
  background-size: cover;

  width: 100%;
  max-width: 1184px;

  height: 62.5vw;
  min-height: 200px;
  max-height: 740px;

  display: flex;
  flex-direction: column;
  align-items: center; /* по центру по горизонтали */
  justify-content: center; /* по центру по вертикали */
  /* чтобы сработало абсолютное позиционирование для :before */
  position: relative;
}

/* затемнение картинки */
.cover:before {
  /* чтобы псевдоэлемент отобразился */
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: #2A2C2F;
  opacity: .3;
  transition: opacity .3s linear;
  position: absolute;
  left: 0;
  top: 0;
}

.cover:hover:before {
  opacity: .8;
}